---
import Footer from "../components/layout/Footer.astro";
import Navbar from "../components/layout/Navbar.astro";
import SearchModal from "../components/search/Modal.astro";

const { layout, collection, sidebar, namespacesJson } = Astro.props;
---

<!DOCTYPE html>
<html lang={Astro.currentLocale || "en"} data-bs-theme="auto">
  <head>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta charset="utf-8" />
    <slot name="head" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" />
  </head>
  <body class={`single ${layout}`} data-bs-spy="scroll" data-bs-target="#toc" data-bs-root-margin="0px 0px -60%" data-bs-smooth-scroll="true">
    <Navbar active={collection} sidebar={sidebar} namespacesJson={namespacesJson} />
    <SearchModal />
    <slot />
    <Footer />
  </body>
</html>

<script>
  import 'bootstrap';
  import 'tom-select';
</script>

<style is:global lang="scss">
  @import "../styles/main.scss";
</style>

<script src="../scripts/color-mode.js"></script>
